<apex:page controller="soqloopty1">
    
    <apex:form >
       
   <apex:pageBlock title="ooptyrecords">
       <apex:pageBlockButtons location="top">
           <apex:commandButton value="After2017" action="{!ClosedAfter2017}" />
            <apex:commandButton value="Before2018" action="{!CreatedBefore2018}" />
       </apex:pageBlockButtons>
       
      <apex:pageBlockTable value="{!oopty}" var="a" >
          <apex:column value="{!a.name}"  />
          <apex:column value="{!a.StageName}" />
          <apex:column value="{!a.amount}" />
          <apex:column value="{!a.closedate}"/>
          <apex:column value="{!a.createddate}"/>
                 
       </apex:pageBlockTable>
       
        </apex:pageBlock>
    </apex:form>
</apex:page>